<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android" package="__PACKAGE__" android:versionCode="1" android:versionName="1.0">
	<supports-screens android:smallScreens="true" android:normalScreens="true" android:largeScreens="true" android:xlargeScreens="true"/>
	<uses-sdk android:minSdkVersion="17" android:targetSdkVersion="__APILEVEL__"/>
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.INTERNET"/>
	<application android:name="com.tns.NativeScriptApplication" android:largeHeap="true" android:allowBackup="true" android:icon="@drawable/icon" android:label="@string/app_name" android:theme="@style/AppTheme">
		<activity android:name="com.github.TeamMaestro.TNSFragmentActivity" android:label="@string/title_activity_kimera" android:configChanges="keyboardHidden|orientation|screenSize" android:theme="@style/LaunchScreenTheme">
			<meta-data android:name="SET_THEME_ON_LAUNCH" android:resource="@style/AppTheme" />
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name="com.pspdfkit.ui.PdfActivity" android:windowSoftInputMode="adjustNothing" />
		<activity android:name="com.tns.ErrorReportActivity"/>
		<meta-data android:name="pspdfkit_license_key" android:value="D19I4q_ZYFOD8g8zzAGpOJ-ar8cxfOmoF_NETT-ord9uvsGKgdYfEjTZqV3Js3hBc_I9If8amsXkpMs_PLwNK4LhcbhVnSCPWPpGOGpkrgP0gJ5SdsBLV13gGAXC1TAdX78U08eF7w56UYs4CMHq3zEppE4pornKjN7m57AFD0li6WErk7leYRgiY9EZPlrrRk9qLF2hr5YjdZYJxzv8R02WhkasmYQJ3AZRRbVNBlMusiEE7r_lqatEet2wX22zRy4KD9XUBQO9bzDD4bv2WsEXQ3p3LVVxtK0Ad3afVvkdgktwvSoJWgAGXe_BTBu6lQc1djlvfJSerTOl-KIWGdJNLtklKyYXjmws2l1iY6Hw-rANRwcW7LTpsJOY1vW_C6a5S3l6VPLzUdYT0bc2rKST7ujqHbo-fjeIRczCvldBLGHa4Keh2517nxn_aSL6"/>"/>
	</application>
</manifest>
