<?xml version="1.0" encoding="utf-8"?>
<manifest 
	xmlns:android="http://schemas.android.com/apk/res/android" package="__PACKAGE__" android:versionCode="1" android:versionName="1.0">
	<supports-screens android:smallScreens="true" android:normalScreens="true" android:largeScreens="true" android:xlargeScreens="true"/>
	<uses-sdk android:minSdkVersion="17" android:targetSdkVersion="__APILEVEL__"/>
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.INTERNET"/>
	<application android:name="com.tns.NativeScriptApplication" android:largeHeap="true" android:allowBackup="true" android:icon="@drawable/icon" android:label="@string/app_name" android:theme="@style/AppTheme">
		<activity android:name="com.github.TeamMaestro.TNSFragmentActivity" android:label="@string/title_activity_kimera" android:configChanges="keyboardHidden|orientation|screenSize" android:theme="@style/LaunchScreenTheme">
			<meta-data android:name="SET_THEME_ON_LAUNCH" android:resource="@style/AppTheme" />
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name="com.pspdfkit.ui.PdfActivity" android:windowSoftInputMode="adjustNothing" />
		<activity android:name="com.tns.ErrorReportActivity"/>
		<meta-data android:name="pspdfkit_license_key" android:value="eXEH5KwDi2ihAgvfeM5_QFxec-cmHoBehn6lzUNBpzFy4Gld0FGyFkEW3lobf24HZRsDMzmgp0WsAnW5o_TrRYdPZelrecr8-8MblS7S42y2MquODmMJERMZ_pmi61VZLpvnppui7qkxZqNClMzVBSkPSDs3MEXqoHCQwzpVfPVhJbOtregTdO7aJelxV_M7LMGgNDHKbIG5YJKzcN8MD4zvTFffirMdDq-cTubpV3tarduJGV44w6gcFNrMTcpXtJfHj32EYMoZ0LBLOzeJy9QtMIwo-lzGV-mlSNHewatCLWf9HfxQajUd_VgMNHtaCCD88ysCpIV8-75yykV_xyDg6VZwZj__LWpBp5Wt8G7j8UrNMn-GkR2N8nwJ7T6Q_4qyfn6b1IciTIYoZYp6iR6sHgpC6VNIn1qXHn_n7-o9nJV5GmaSpHvKpZcWIvCY"/>
	</application>
</manifest>